:root {
    --WroughtIron: #14030b;
    --CastIron: #15151d;
    --OiledIron: #282c34;
    --WroughtIron2: #474749;
    --PigIron: #484848;
    --DullIron: #687f8a;
    --OldIron: #8d9288;
    --SteelRust: #a25508;
    --RedIron: #ad3816;
    --SoftIron: #c3ced1;
    --PastelIron: #cad6da;
    --IronRust: #cd7001;
    --HotIron: #d22905;
    --TrueIron: #e2dddf;
    --Iron: #ebecf5;
    --PureIron: #eeeeee;
    --CobaltBlue: #0008e3;
    --BrassPatina: #008f7a;
    --WroughtIron: #030102;
    --BlackIron: #060606;
    --CopperPatina2: #09c0b1;
    --CastIron: #15151d;
    --CopperPatina3: #274843;
    --OiledIron: #282c34;
    --PigIron: #484848;
    --CopperPatina: #49f3ac;
    --Manganese: #4d4d4d;
    --TungstenCarbide2: #59595f;
    --OldIron: #5e5e5e;
    --TarnishedPewter: #676c6b;
    --AncientBrass: #6b5401;
    --TungstenCarbide: #767980;
    --Pewter: #798b93;
    --Beryllium: #7c7377;
    --OldGold: #7f5e00;
    --OldPlatinum: #828f91;
    --IronRust: #832409;
    --RomanSilver: #838996;
    --TarnishedSilver: #848482;
    --OldTitanium: #878681;
    --Bronze3: #92791b;
    --Platinum2: #9a9697;
    --OldBrass: #9f7b2a;
    --Brass2: #a38a4e;
    --Platinum: #a3a0a1;
    --Brass4: #a5983a;
    --Vanadium: #a6a6ab;
    --SilverPatina: #a8a6a6;
    --OldSilver: #acacac;
    --Chrome2: #afd5db;
    --Brass3: #b29438;
    --Bronze: #b37108;
    --Brass1: #b3892b;
    --Platinum3: #b4c5d4;
    --Tungsten: #b5ac9f;
    --BrushedCopper: #b77b23;
    --Copper: #b87333;
    --Aluminum: #b8c0cb;
    --Gold3: #b99100;
    --OldTin: #bebebe;
    --DullPewter: #bfb9bf;
    --Nickel: #bfbfbf;
    --Silver: #c0c0c0;
    --FoolsGold: #c1a40b;
    --Chrome: #c2d3d1;
    --Iron: #c3ced1;
    --Gold4: #c4ad41;
    --Bronze2: #c4af19;
    --Palladium2: #c5cac8;
    --OldSteel: #c9c0bb;
    --SterlingSilver: #cad3d4;
    --AmericanSilver: #cfcfcf;
    --NewCopper2: #d0906c;
    --Titanium2: #d1dce5;
    --Europium: #d2d1b7;
    --Aluminum2: #d2d9db;
    --Silver3: #d2e1f6;
    --Zinc: #d4dadf;
    --Platinum4: #d5d9d2;
    --StainlessPlatinum: #dbe0e0;
    --Palladium: #dde3f7;
    --Nickel2: #dee0df;
    --Silver2: #dfded6;
    --Palladium3: #e1dfd6;
    --Rhodium: #e2e1df;
    --Titanium: #e4e4e4;
    --Zirconium: #e4e7f5;
    --BrushedAluminum: #e4e9ed;
    --TruePlatinum: #e5e4e2;
    --Platinum5: #e5ebea;
    --StainlessSteel2: #e6e6ee;
    --StainlessSteel2: #e6e6ee;
    --RoseGold: #e7bbaa;
    --Tin: #e7edfe;
    --Titanium3: #e8edf0;
    --Gold2: #e9b413;
    --BrightSilver: #ebeae9;
    --StainlessSteel: #ebecf5;
    --Steel: #eeeeee;
    --NewCopper: #f28e62;
    --Electrum: #f3c968;
    --WhiteGold: #f4f5f6;
    --NewSteel: #f4f5f8;
    --NordicGold: #fdf286;
    --Gold: #ffd700;
    --PolishedGold: #ffd900;
}

/* General */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 20px;
}
body {
    font-size: 20px;
    color: var(--PureIron);
    background-color: #222;
    font-family: 'Raleway', sans-serif;
}
a {
    color: var(--PureIron);
    color: var(--NewSteel);
}

/* Nav */

.adjust {
    position: absolute;
    top: 20px;
    left: 30px;
    animation: adjustload .25s ease-in-out 0s forwards;
    transition: all .25s;
}
.adjust:hover {
    color: var(--WhiteGold);
    text-shadow: 0 0 5px var(--WhiteGold);
    transform: scale(1.15);
}
@keyframes adjustload {
    from {
        opacity: 0;
        left: 0;
    }
    to {
        opacity: 1;
    }
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1.15em;
    background-color: var(--CopperPatina3);
    border-bottom: .5px solid var(--AmericanSilver);
    z-index: 9;
}
#navbar ul {
    list-style-type: none;
    text-align: right;
    padding-right: 30px;
    align-items: center;
}
#navbar li {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    animation: navload .25s ease-in-out .1s forwards;
}
@keyframes navload {
    from {
        opacity: 0;
        margin: -20px;
    }
    to {
        opacity: 1;
    }
}
#navbar a {
    color: var(--NewSteel);
    text-decoration: none;
}
#navbar ul li a::before {
    content: '';
}
#navbar a:hover {
    color: var(--NewSteel);
    font-weight: 900;
    animation: navhov .25s ease-in-out 0s forwards;
}
@keyframes navhov {
    from {
        border-bottom: 0px solid transparent;
    }
    to {
        text-shadow: 0 0 2.5px var(--NewSteel);
        border-bottom: 2px solid var(--Gold);
    }
}

/* Welcome Section */

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 575px;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    height: 100vh;
    text-align: center;
    justify-content: center;
    font-size: 1.3em;
    background: linear-gradient(233deg, transparent, var(--CastIron), var(--WroughtIron));
    font-family: 'Russo One', sans-serif;
}
#welcome-section p {
    font-family: 'Raleway', sans-serif;
    color: var(--Gold);
}




/* Projects */

#projects {
    width: 100%;
    height: 190vh;
    padding-top: 40px;
    background-color: var(--AncientBrass);
    background-color: var(--Gold3);
    background: linear-gradient(
        133deg,
        red,
        blue 66%);
    text-shadow: 0 0 8px black;
}
#projects h2 {
    margin: 25px;
    text-align: center;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}


/* Skills */

#skills i {
    font-size: 2em;
    /* width: 60px; */
    /* height: 60px; */
    color: var(--Rhodium);
    color: var(--PigIron);
    color: var(--CopperPatina3);
    color: var(--Manganese);
    /* text-shadow: 0 0 15px var(--Silver); */
    filter: blur(.6px);
    filter: blur(1.5px);
    transition: all .2s;
}
#skills i:hover {
    color: transparent;
    transform: scale(1.075);
    filter: blur(0);
    text-shadow: 0 0 .5px var(--Gold);
    text-shadow: 0 0 0 var(--Gold);
}
/* #skills i:hover {
    color: transparent;
    box-shadow: 0 0 5px var(--Gold);
    text-shadow: 0 0 .5px var(--Gold);
} */
#skills ul {
    margin-top: 60px;
    font-size: 1.75em;
    text-align: center;
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}
#skills li {
    list-style: none;
    margin: 0 40px;
}
#skills a {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 123px;
    background: var(--OldBrass);

    /* Cool */
    background: radial-gradient(
        var(--OldBrass) 1%,
        transparent 75%,
        var(--AncientBrass) 80%);

    /* Also Cool */
    background: radial-gradient(
        var(--Gold),
        var(--OldBrass) 30%,
        var(--AncientBrass) 65%);

    background: radial-gradient(
        var(--Bronze2),
        var(--OldBrass) 30%,
        var(--AncientBrass) 65%);

    background: var(--OiledIron);
    background: #333;
    /* background: transparent; */
    border-radius: 50%;
    font-size: 30px;
    /* color: var(--Tungsten); */
    /* color: var(--DullPewter); */
    color: #666;
    /* color: linear-gradient(90deg,red,blue); */
    transition: .15s;
}

#skills a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--Gold);
    background: transparent;
    transition: .15s;
    transform: scale(.9);
    z-index: -2;
}
#skills a:hover::before {
    transform: scale(1.15);
    background: var(--Gold);
    box-shadow: 0 0 15px var(--Gold);
}

#skills a:hover {
    color: transparent;
    box-shadow: 0 0 5px var(--Gold);
    text-shadow: 0 0 .5px var(--Gold);
}
#skills a::before:hover {
    color: green;
}


.projects {
    display: grid;
    margin: auto;
    width: 80%;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
}
.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 44vh;
    margin: 20px auto;
    padding: 20px auto;
    margin-bottom: 20px;
    background-color:#474749;
    background-color:transparent;
    font-family: 'Russo One', sans-serif;
}
.project-tile a {
    display: block;
    height: 100%;
    outline: 1px solid silver;
    box-shadow: 4px 4px 15px var(--CastIron);
    transition: background 5s,
                scale 1s,
                transform .5s,
                box-shadow .5s;
}
.project-tile a:hover {
    transform: translate(-1.5px, -1.5px)
               scale(1.01);
    outline: 2px solid var(--Silver2);
    box-shadow: 6px 6px 20px var(--BlackIron);
}


#port-scanner {
    background: url(images/port-scanner-py.png) top left / 100vh;
}
.project-tile:nth-child(1)::after {
    content: 'Port Scanner.py';
    margin: 12px;
}
#prod-landing {
    background: url(images/product-landing-page.png) center / 80vh;
}
.project-tile:nth-child(2)::after {
    content: 'Product Landing Page';
    margin: 12px;
}
#tribute {
    background: url(images/tribute.png) top center / auto;
}
.project-tile:nth-child(3)::after {
    content: 'Tribute Page';
    margin: 12px;
}
#numerology {
    background: url(images/numerology-py.png) top left / 100vh;
}
.project-tile:nth-child(4)::after {
    content: 'Numerology Script.py';
    margin: 12px;
}
#secrets {
    background: url(images/secrets-passgen.png) top left / 100vh;
}
.project-tile:nth-child(5)::after {
    content: 'Secrets Password Generator.py';
    margin: 12px;
}
#form {
    background: url(images/form.png) top center / 100vh;
}
.project-tile:nth-child(6)::after {
    content: 'Survey Form';
    margin: 12px;
}
#qr {
    background: url(images/frontendmentor-qr-code.jpg) center / 100vh;
}
.project-tile:nth-child(7)::after {
    content: 'FrontEndMentor.io QR Code';
    margin: 12px;
}
#job-cost {
    background: url(images/job-costing.png) top left / 100vh;
}
.project-tile:nth-child(8)::after {
    content: 'Job Costing Script.py';
    margin: 12px;
}
#base64 {
    background: url(images/base64-decoder.png) top left / 100vh;
}
.project-tile:nth-child(9)::after {
    content: 'Base64 Decoder.py';
    margin: 12px;
}


/* Profile Links */

#profile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85vh;
    background: radial-gradient(circle,
        transparent 20%,
        var(--CastIron),
        var(--WroughtIron) 70%,
        var(--BlackIron));
    
    background: radial-gradient(circle,
        transparent 10%,
        var(--Tungsten) 50%,
        var(--TungstenCarbide),
        var(--WroughtIron2));
    
    background: radial-gradient(
        closest-corner at -444% 56%,
        transparent 10%,
        var(--TungstenCarbide) 50%,
        transparent,
        var(--WroughtIron2),
        var(--PigIron),
        transparent,
        var(--WroughtIron2),
        transparent,
        var(--WroughtIron),
        transparent,
        var(--TungstenCarbide2),
        var(--TungstenCarbide),
        var(--WroughtIron));
}
#profile-link h2 {
    font-size: 2.5em;
}
#profile-link h3 {
    font-size: 1.66em;
    margin-bottom: 25px;
    color: var(--Gold);
}
#profile-link p {
    font-family: 'Raleway', sans-serif;
    color: var(--OldSilver);
}
#resume {
    font-size: 1.5em;
    color: var(--OldSilver);
    text-align: center;
}
#resume a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
#resume a:hover {
    animation: navhov .25s ease-in-out 0s forwards;
    text-shadow: 0 0 10px var(--Gold);
}
.social ul {
    padding: 30px;
    margin-top: 80px;
    font-size: 4em;
    text-align: center;
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social li {
    list-style: none;
    margin: 0 15px;
}
.social a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: var(--OldBrass);

    /* Cool */
    background: radial-gradient(
        var(--OldBrass) 1%,
        transparent 75%,
        var(--AncientBrass) 80%);

    /* Also Cool */
    background: radial-gradient(
        var(--Gold),
        var(--OldBrass) 30%,
        var(--AncientBrass) 65%);

    background: radial-gradient(
        var(--Bronze2),
        var(--OldBrass) 30%,
        var(--AncientBrass) 65%);

    background: var(--OiledIron);
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: var(--Tungsten);
    color: var(--DullPewter);
    color: #666;
    transition: .15s;
}
.social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--BrightSilver);
    transition: .15s;
    transform: scale(.9);
    z-index: -2;
}
.social a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--BrightSilver);
}
.social a:hover {
    color: var(--BrightSilver);
    box-shadow: 0 0 5px var(--BrightSilver);
    text-shadow: 0 0 .5px var(--BrightSilver);
}


/* Footer */

footer {
    height: 5vh;
}
footer {
    bottom: 0;
    text-align: center;
    width: 100%;
    min-height: 10vh;
    padding-top: 15px;
    z-index: 1;
    border: .5px solid var(--pigiron);
    border-bottom: none;
    color: var(--copper);
    background-color: var(--footerbg);
}
footer a {
    color: var(--link);
}
footer a:hover {
    text-shadow: 0 0 2.5px var(--NewSteel);
}
#fcc-logo {
    width: 200px;
    aspect-ratio: 35 / 4;
    display: inline-block;
    padding: .75rem;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}
@media (max-width: 1100px) {
    #skills ul {
        /* grid-template-columns: 1fr 1fr 1fr; */
    }
    #skills i {
        font-size: 1.8em;
    }
    #skills li {
        margin: 0 20px;
    }    
    #projects {
        height: 285vh;
    }
    .projects {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 900px) {
    #profile-link h3 {
        font-size: 1.4em;
    }
}
@media (max-width: 750px) {
    #skills i {
        font-size: 1.4em;
    }
    #projects {
        height: 480vh;
    }
    .projects {
        grid-template-columns: 1fr;
    }
    #profile-link h3 {
        font-size: 1.25em;
    }
}
@media (max-width: 600px) {
    #profile-link h3 {
        font-size: 1em;
    }
}